## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
publish/

## Visual Studio
*.sln.ide/
**/.vs/

## JetBrains Rider
.idea/
*.sln.iml

## Python
__pycache__/
*.py[cod]

## OS
.DS_Store
Thumbs.db

## Project specific
dist/
*.log
